<ion-content class="ion-padding">

  <h1>Iniciemos el dia</h1>

  <ion-item class="mt-5" >

    <ion-input placeholder="Agrega una tarea rápido" [(ngModel)]="newTask"></ion-input>

    <ion-button slot="end" (click)="addTask()">Agregar</ion-button>
  </ion-item>
  <ion-list class="mt-2" >
   <app-list-task [tasks]="tasks" ></app-list-task>
  </ion-list>

  <ion-content  >
    <ion-item class="mt-5" >
      <ion-input placeholder="Agrega un habito" [(ngModel)]="newHabit"></ion-input>
  <ion-button slot="end" (click)="addHabit()">Agregar</ion-button>
    </ion-item>
  </ion-content>
</ion-content>